<p><b><h1>All Users</h1></b></p>

<div>
  <% @all_users.each do |list_user| %>
    <p><%= list_user.email %></p>
      <ul>
        <%= link_to "Show user", admin_user_path(list_user) %>
<% end %>
</div>